   {% comment %} {% extends "layout/header.html" %}

    {% block navbar %}

    <header class="header">

        <div class="logo">
            Products<span>.</span>
        </div>

        <nav class="navbar">

            <a href="index.html" class="active">Home</a>


            <a href="about.html">About</a>

            <a href="contact.html">Contact</a>

            <a href="login.html">Log out</a>

            <a href="cart.html" class="cart-link">
                🛒 Cart
                <span class="cart-count">2</span>
            </a>

        </nav>

    </header>

    {% endblock %} {% endcomment %}


    {% include "layout/header.html" %}
    {% include "layout/footer.html" %}

    

    



