{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "style/footer.css" %}">
</head>
<body>
    
    <!-- ================= FOOTER ================= -->

<footer>

    <div class="footer-main">


        <!-- ABOUT -->

        <div class="footer-column brand-column">

            <div class="footer-logo">
                Luxora<span>.</span>
            </div>

            <p>
                Your destination for modern fashion,
                beauty, accessories and lifestyle products.
            </p>

            <div class="social-icons">

                <a href="#">f</a>
                <a href="#">◎</a>
                <a href="#">𝕏</a>
                <a href="#">in</a>

            </div>

        </div>


        <!-- SHOP -->

        <div class="footer-column">

            <h3>Shop</h3>

            <a href="products.html">All Products</a>

            <a href="products.html">Fashion</a>

            <a href="products.html">Beauty</a>

            <a href="products.html">Accessories</a>

            <a href="products.html">Footwear</a>

        </div>


        <!-- CUSTOMER -->

        <div class="footer-column">

            <h3>Customer Care</h3>

            <a href="contact.html">Contact Us</a>

            <a href="#">Help Center</a>

            <a href="#">Shipping Information</a>

            <a href="#">Return & Refund</a>

            <a href="#">Track Order</a>

        </div>


        <!-- COMPANY -->

        <div class="footer-column">

            <h3>Company</h3>

            <a href="about.html">About Luxora</a>

            <a href="#">Our Story</a>

            <a href="#">Privacy Policy</a>

            <a href="#">Terms & Conditions</a>

            <a href="#">Careers</a>

        </div>


        <!-- CONTACT -->

        <div class="footer-column">

            <h3>Get In Touch</h3>

            <p>📍 Nagpur, Maharashtra, India</p>

            <p>📞 +91 98765 43210</p>

            <p>📧 support@luxora.com</p>

            <p>🕐 Mon - Sat: 9 AM - 7 PM</p>

        </div>

    </div>


    <div class="footer-bottom">

        <p>
            © 2026 Luxora. All Rights Reserved.
        </p>

        <div>
            <span>Secure Payments 🔒</span>
            &nbsp; | &nbsp;
            <span>Made with ♡</span>
        </div>

    </div>

</footer>

</body>
</html>